
.menu-bar {
    -fx-background-color: #984700;
}


.left-panel {
    -fx-background-color: #b57c2f;
}


.right-panel {
    -fx-background-color: #66ff00;
}


.action-button {
    -fx-background-color: #b57c2f;
    -fx-text-fill: black;
    -fx-background-radius: 10;
    -fx-font-size: 14px;
    -fx-padding-top: 300;
    -fx-pref-width: 500;
    -fx-pref-height: 40;
}


.table-view .column-header-background {
    -fx-background-color: #a2a2a2;
}


.footer {
    -fx-background-color: #a1a1a1;
}